<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}WIS 2.0 in a box{% endblock %}</title>
    <meta name="description" content="WIS 2.0 node in a box provides a platform with the capabilities for centres to integrate their data holdings and publish them to the WMO Information System with a plug and play capability supporting data publishing, discovery and access.">
    <meta name="author" content="wis2node">
    <meta property="og:title" content="WIS 2.0 node in a box">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://github.com/wmo-im/wis2node">
    <meta name="og:description" content="WIS 2.0 node in a box provides a platform with the capabilities for centres to integrate their data holdings and publish them to the WMO Information System with a plug and play capability supporting data publishing, discovery and access.">
    <meta property="og:image" content="https://public.wmo.int/sites/all/themes/wmo/logo.png">
    <style type="text/css">
       body {
         background-color: #ffffff;
         font-family: arial, verdana, sans-serif;
         text-align: left;
         float: left;
       }
       footer {
         height: 2px;
         border-width: 0;
         color: gray;
         background-color: gray;
         text-align: center;
       }
    </style>
    {% block extrahead %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    <footer><p>Powered by <a title="wis2node" href="https://github.com/wmo-im/wis2node">wis2node</a> {{ WIS2NODE_VERSION }}</p></footer>
  </body>
</html>
