{% extends "_base.html" %}
{% block title %}{{ super() }} - Home{% endblock %}
{% block body %}
    <header>
      <a href="https://community.wmo.int/activity-areas/wis/wis2-implementation"><img width="68" height="77" src="https://public.wmo.int/sites/all/themes/wmo/logo.png"/></a>
      <h1>Welcome to WIS 2.0 node in box!</h1>
    </header>
    <section id="containers">
      <h2>Containers</h2>
      <ul>
        <li><a href="/pygeoapi">Catalogue</a></li>
        <li><a href="/monitor">Service Monitor</a></li>
        <li><a href=":5671">PubSub</a></li>
      </ul>
    </section>
{% endblock %}
