data:
    $COUNTRY_CODE.$CENTRE_ID.data.core.weather.surface-based-observations.synop:
        plugins:
            txt:
                - plugin: wis2box.data.synop2bufr.ObservationDataSYNOP2BUFR
                  notify: true
                  buckets:
                    - $${WIS2BOX_STORAGE_INCOMING}
                  file-pattern: '^.*-(\d{4})(\d{2}).*\.txt$$'
            csv:
                - plugin: wis2box.data.csv2bufr.ObservationDataCSV2BUFR
                  template: aws-template
                  notify: true
                  buckets:
                    - $${WIS2BOX_STORAGE_INCOMING}
                  file-pattern: '^.*\.csv$$'
            b:
                - plugin: wis2box.data.bufr4.ObservationDataBUFR
                  notify: true
                  buckets:
                    - $${WIS2BOX_STORAGE_INCOMING}
                  file-pattern: '^.*\.b$$'
            bin:
                - plugin: wis2box.data.bufr4.ObservationDataBUFR
                  notify: true
                  buckets:
                    - $${WIS2BOX_STORAGE_INCOMING}
                  file-pattern: '^.*\.bin$$'
            bufr:
                - plugin: wis2box.data.bufr4.ObservationDataBUFR
                  notify: true
                  buckets:
                    - $${WIS2BOX_STORAGE_INCOMING}
                  file-pattern: '^.*\.bufr$$'
            bufr4:
                - plugin: wis2box.data.bufr2geojson.ObservationDataBUFR2GeoJSON
                  buckets:
                    - $${WIS2BOX_STORAGE_PUBLIC}
                  file-pattern: '^WIGOS_(\d-\d+-\d+-\w+)_.*\.bufr4$$'
    COUNTRY_CODE.CENTRE_ID.data.core.weather.surface-based-observations.temp:
        plugins:
            b:
                - plugin: wis2box.data.bufr4.ObservationDataBUFR
                  notify: true
                  buckets:
                    - $${WIS2BOX_STORAGE_INCOMING}
                  file-pattern: '^.*\.b$$'
            bin:
                - plugin: wis2box.data.bufr4.ObservationDataBUFR
                  notify: true
                  buckets:
                    - $${WIS2BOX_STORAGE_INCOMING}
                  file-pattern: '^.*\.bin$$'
            bufr:
                - plugin: wis2box.data.bufr4.ObservationDataBUFR
                  notify: true
                  buckets:
                    - $${WIS2BOX_STORAGE_INCOMING}
                  file-pattern: '^.*\.bufr$$'
