wis2box:
    retention: P30D
    topic_hierarchy: $COUNTRY_CODE.$CENTRE_ID.data.core.weather.surface-based-observations.synop
    country: $COUNTRY_CODE
    centre_id: $CENTRE_ID

mcf:
    version: 1.0

metadata:
    identifier: urn:x-wmo:md:$COUNTRY_CODE:$CENTRE_ID:surface-based-observations.synop
    language: en
    charset: utf8
    hierarchylevel: dataset

identification:
    language: en
    charset: utf8
    title: Surface weather observations from $CENTRE_NAME
    abstract: Surface weather observations from $CENTRE_NAME
    dates:
        creation: $CREATION_DATE
        publication: $PUBLICATION_DATE
    keywords:
        default:
            keywords:
                - surface weather
                - observations
        wmo:
            keywords:
                - weatherObservations
            keywords_type: theme
            vocabulary:
                name: WMO Category Code
                url: https://github.com/wmo-im/wcmp-codelists/blob/main/codelists/WMO_CategoryCode.csv
    extents:
        spatial:
            - bbox: [$BOUNDING_BOX]
              crs: 4326
        temporal:
            - begin: BEGIN_DATE
              end: null
              resolution: P1H
    wmo_data_policy: core

contact:
    pointOfContact: &contact_poc
        organization: $CENTRE_NAME
        url: NA
        individualname: NA
        positionname: NA
        phone: NA
        fax: NA
        address: NA
        city: NA
        administrativearea: NA
        postalcode: NA
        country: $COUNTRY_NAME
        email: $WIS2BOX_EMAIL
        hoursofservice: NA
        contactinstructions: email

    distributor: *contact_poc
