wis2box:
    retention: P30D
    topic_hierarchy: $CENTRE_ID.data.core.weather.surface-based-observations.temp
    centre_id: $CENTRE_ID

mcf:
    version: 1.0

metadata:
    identifier: urn:x-wmo:md:$CENTRE_ID:surface-based-observations.temp
    language: en
    charset: utf8
    hierarchylevel: dataset

identification:
    language: en
    charset: utf8
    title: Upper-level temperature/humidity/wind reports from fixed-land stations (TEMP) ($CENTRE_ID)
    abstract: Upper-level temperature/humidity/wind reports from fixed-land stations (TEMP) ($CENTRE_ID)
    dates:
        creation: $CREATION_DATE
        publication: $PUBLICATION_DATE
    keywords:
        default:
            keywords:
                - upper air
                - humidity
                - wind
                - observations
        wmo:
            keywords:
                - weather
            keywords_type: theme
            vocabulary:
                name: WMO WIS2 Topic Hierarchy
                url: https://github.com/wmo-im/wis2-topic-hierarchy/blob/main/topic-hierarchy/earth-system-discipline/index.csv
    extents:
        spatial:
            - bbox: [$BOUNDING_BOX]
              crs: 4326
        temporal:
            - begin: BEGIN_DATE
              end: null
              resolution: P12H
    wmo_data_policy: core

contact:
    host:
        organization: $CENTRE_NAME
        url: null
        individualname: null
        positionname: null
        phone: null
        fax: null
        address: null
        city: null
        administrativearea: null
        postalcode: null
        country: $COUNTRY_NAME
        email: $WIS2BOX_EMAIL
        hoursofservice: null
        contactinstructions: email
